/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: #f5f5f5;
  font-size: 14px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }
a:link, a:visited {
  color: green;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
th, td, tr {
  padding: 15px;
  text-align: left;
}
#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
ol {
  background-color: #e1e1e1;
  border-left: 5px solid green;
  padding-left: 20px;
}

ul {
  background-color: #e1e1e1;
  border-left: 5px solid green;
  padding-left: 20px;
}

ol li {
  padding: 5px;
  margin-left: 20px;
}

ul li {
  list-style-type: none;
  padding: 5px;
}
div {
  background-color: #e1e1e1;
  border: 1px solid green;
  padding: 50px;
  margin: 20px;
}
